@import "../node_modules/pretty-print-json/dist/css/pretty-print-json.min";

* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
html {
    overflow: auto;
}
body {
    -moz-user-select: text;
}

pre#code {
    margin: 10px;
    width: 300px;
    max-height: 400px;
    border: 1px solid black;
    padding: 10px;
    overflow: auto;
    background-color: #ccc;
    span#error {
        text-align: center;
        width: 100%;
        float: left;
    }
}
